<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

    <!-- 加载Redis配置文件 -->
    <context:property-placeholder location="classpath:redis.properties" ignore-unresolvable="true"/>


    <!-- 初始化Jedis连接池-->
    <bean id="poolConfig" class="redis.clients.jedis.JedisPoolConfig">
        <!--最大连接数, 默认8个-->
        <property name="maxTotal" value="${redis.pool.maxTotal}" />
        <!--最大空闲连接数, 默认8-->
        <property name="maxIdle" value="${redis.pool.maxIdle}" />
        <!--连接时的最大等待毫秒数-->
        <property name="maxWaitMillis" value="${redis.pool.maxWaitMilliSecond}" />
        <!--获得一个jedis实例的时候是否检查连接可用性-->
        <property name="testOnBorrow" value="${redis.pool.testOnBorrow}" />
    </bean>
    <!-- 把jedisPool交给spring管理 -->
    <bean class="redis.clients.jedis.JedisPool" >
        <!-- 下面这些是JedisPool类的构造参数，因此你需要匹配一个构造函数的参数列表 -->
        <!-- 由于带密码的构造函数，只存在：host,port,timeout,password这个，因此你需要带上一个timeout -->
        <constructor-arg name="poolConfig" ref="poolConfig"></constructor-arg>
        <constructor-arg name="host" value="${redis.host}"></constructor-arg>
        <constructor-arg name="port" value="${redis.port}"></constructor-arg>
        <constructor-arg name="timeout" value="${redis.timeout}"></constructor-arg>
        <constructor-arg name="password" value="${redis.password}"></constructor-arg>
    </bean>
</beans>